In [1]:
import pandas as pd

In [2]:
exam = pd.read_csv('/content/exam.csv')

In [3]:
exam

    id  nclass  math  english  science
0    1       1    50       98       50
1    2       1    60       97       60
2    3       1    45       86       78
3    4       1    30       98       58
4    5       2    25       80       65
5    6       2    50       89       98
6    7       2    80       90       45
7    8       2    90       78       25
8    9       3    20       98       15
9   10       3    50       98       45
10  11       3    65       65       65
11  12       3    45       85       32
12  13       4    46       98       65
13  14       4    48       87       12
14  15       4    75       56       78
15  16       4    58       98       65
16  17       5    65       68       98
17  18       5    80       78       90
18  19       5    89       68       87
19  20       5    78       83       58

# query() : 행의 데이터를 추출하는 함수
- 원하는 조건을 걸고, 그에 맞는 데이터를 출력

In [5]:
exam.query("nclass==3") #class가 3반인 데이터 출력

    id  nclass  math  english  science
8    9       3    20       98       15
9   10       3    50       98       45
10  11       3    65       65       65
11  12       3    45       85       32

In [6]:
exam.query("nclass != 3") #class가 3반이 아닌 데이터 출력

    id  nclass  math  english  science
0    1       1    50       98       50
1    2       1    60       97       60
2    3       1    45       86       78
3    4       1    30       98       58
4    5       2    25       80       65
5    6       2    50       89       98
6    7       2    80       90       45
7    8       2    90       78       25
12  13       4    46       98       65
13  14       4    48       87       12
14  15       4    75       56       78
15  16       4    58       98       65
16  17       5    65       68       98
17  18       5    80       78       90
18  19       5    89       68       87
19  20       5    78       83       58

In [7]:
exam.query('english > 70') #논리연산자

    id  nclass  math  english  science
0    1       1    50       98       50
1    2       1    60       97       60
2    3       1    45       86       78
3    4       1    30       98       58
4    5       2    25       80       65
5    6       2    50       89       98
6    7       2    80       90       45
7    8       2    90       78       25
8    9       3    20       98       15
9   10       3    50       98       45
11  12       3    45       85       32
12  13       4    46       98       65
13  14       4    48       87       12
15  16       4    58       98       65
17  18       5    80       78       90
19  20       5    78       83       58

In [8]:
exam.query('english>70 & math>50 & science >60') # and이므로 세 가지 조건 모두 만족하는 데이터 출력

    id  nclass  math  english  science
15  16       4    58       98       65
17  18       5    80       78       90

In [9]:
exam.query('math>=80 | english >= 70') # or은 둘 중 하나만 만족해도 출력

    id  nclass  math  english  science
0    1       1    50       98       50
1    2       1    60       97       60
2    3       1    45       86       78
3    4       1    30       98       58
4    5       2    25       80       65
5    6       2    50       89       98
6    7       2    80       90       45
7    8       2    90       78       25
8    9       3    20       98       15
9   10       3    50       98       45
11  12       3    45       85       32
12  13       4    46       98       65
13  14       4    48       87       12
15  16       4    58       98       65
17  18       5    80       78       90
18  19       5    89       68       87
19  20       5    78       83       58

In [10]:
exam['english'] # 대괄호([])는 컬럼(열)을 기준으로 추출

0     98
1     97
2     86
3     98
4     80
5     89
6     90
7     78
8     98
9     98
10    65
11    85
12    98
13    87
14    56
15    98
16    68
17    78
18    68
19    83
Name: english, dtype: int64

In [11]:
exam[['nclass','english','math']]

    nclass  english  math
0        1       98    50
1        1       97    60
2        1       86    45
3        1       98    30
4        2       80    25
5        2       89    50
6        2       90    80
7        2       78    90
8        3       98    20
9        3       98    50
10       3       65    65
11       3       85    45
12       4       98    46
13       4       87    48
14       4       56    75
15       4       98    58
16       5       68    65
17       5       78    80
18       5       68    89
19       5       83    78

In [19]:
exam.query('nclass ==4 & english>70 & math>50 & science>60')[['nclass','english','math']]

    nclass  english  math
15       4       98    58

-> query()와 [] 추출 동시 이용 : 값에 대한 조건을 걸어 query식을 만든 후에 다시 컬럼 추출 가능

# sort_values() 정렬

In [20]:
exam.sort_values('math')

    id  nclass  math  english  science
8    9       3    20       98       15
4    5       2    25       80       65
3    4       1    30       98       58
2    3       1    45       86       78
11  12       3    45       85       32
12  13       4    46       98       65
13  14       4    48       87       12
0    1       1    50       98       50
9   10       3    50       98       45
5    6       2    50       89       98
15  16       4    58       98       65
1    2       1    60       97       60
10  11       3    65       65       65
16  17       5    65       68       98
14  15       4    75       56       78
19  20       5    78       83       58
6    7       2    80       90       45
17  18       5    80       78       90
18  19       5    89       68       87
7    8       2    90       78       25

In [24]:
exam.sort_values('math', ascending = False)
# ascending = True로 설정하면 오름차순 (설정하지 않아도 default 값이 오름차순임), False로 설정하며 내림차순

    id  nclass  math  english  science
7    8       2    90       78       25
18  19       5    89       68       87
17  18       5    80       78       90
6    7       2    80       90       45
19  20       5    78       83       58
14  15       4    75       56       78
16  17       5    65       68       98
10  11       3    65       65       65
1    2       1    60       97       60
15  16       4    58       98       65
9   10       3    50       98       45
5    6       2    50       89       98
0    1       1    50       98       50
13  14       4    48       87       12
12  13       4    46       98       65
11  12       3    45       85       32
2    3       1    45       86       78
3    4       1    30       98       58
4    5       2    25       80       65
8    9       3    20       98       15

In [25]:
exam.sort_values(['english','math']) #2차원 데이터일 때는 리스트로 처리해줘야함 => []

# 2개 이상 정렬 기준 정하는 경우 
# default 값은 처음 컬럼을 기준으로 오름차순 정렬함 (처음이 아닌 컬럼은 적용 x)

    id  nclass  math  english  science
14  15       4    75       56       78
10  11       3    65       65       65
16  17       5    65       68       98
18  19       5    89       68       87
17  18       5    80       78       90
7    8       2    90       78       25
4    5       2    25       80       65
19  20       5    78       83       58
11  12       3    45       85       32
2    3       1    45       86       78
13  14       4    48       87       12
5    6       2    50       89       98
6    7       2    80       90       45
1    2       1    60       97       60
8    9       3    20       98       15
3    4       1    30       98       58
12  13       4    46       98       65
0    1       1    50       98       50
9   10       3    50       98       45
15  16       4    58       98       65

In [28]:
exam.sort_values(['english','math'], ascending = [False, False])

    id  nclass  math  english  science
15  16       4    58       98       65
0    1       1    50       98       50
9   10       3    50       98       45
12  13       4    46       98       65
3    4       1    30       98       58
8    9       3    20       98       15
1    2       1    60       97       60
6    7       2    80       90       45
5    6       2    50       89       98
13  14       4    48       87       12
2    3       1    45       86       78
11  12       3    45       85       32
19  20       5    78       83       58
4    5       2    25       80       65
7    8       2    90       78       25
17  18       5    80       78       90
18  19       5    89       68       87
16  17       5    65       68       98
10  11       3    65       65       65
14  15       4    75       56       78

# 파생변수
- 기존의 변수 또는 컬럼 값을 가지고 새로운 변수를 만들 수 있음
- 파생변수는 새로운 변수지만 기존의 변수들의 관계를 가지고 만든다.
- assign.(만들 변수 = 식)

In [29]:
exam.assign(total_3 = (exam['math']+exam['english']+exam['science'])/3,
            sum_3 = exam['math']+exam['english']+exam['science'])

    id  nclass  math  english  science    total_3  sum_3
0    1       1    50       98       50  66.000000    198
1    2       1    60       97       60  72.333333    217
2    3       1    45       86       78  69.666667    209
3    4       1    30       98       58  62.000000    186
4    5       2    25       80       65  56.666667    170
5    6       2    50       89       98  79.000000    237
6    7       2    80       90       45  71.666667    215
7    8       2    90       78       25  64.333333    193
8    9       3    20       98       15  44.333333    133
9   10       3    50       98       45  64.333333    193
10  11       3    65       65       65  65.000000    195
11  12       3    45       85       32  54.000000    162
12  13       4    46       98       65  69.666667    209
13  14       4    48       87       12  49.000000    147
14  15       4    75       56       78  69.666667    209
15  16       4    58       98       65  73.666667    221
16  17       5    65       68       98  77.000000    231
17  18       5    80       78       90  82.666667    248
18  19       5    89       68       87  81.333333    244
19  20       5    78       83       58  73.000000    219

-> 셀에서 작동이 끝나면 원본 데이터에는 반영되지 않음

In [36]:
exam_1 = exam.assign(total_3 = (exam['math']+exam['english']+exam['science'])/3,
            sum_3 = exam['math']+exam['english']+exam['science'])
exam_1 # 새로운 변수에 저장하는 방식으로 원본 데이터에 추가할 수 있음

    id  nclass  math  english  science    total_3  sum_3
0    1       1    50       98       50  66.000000    198
1    2       1    60       97       60  72.333333    217
2    3       1    45       86       78  69.666667    209
3    4       1    30       98       58  62.000000    186
4    5       2    25       80       65  56.666667    170
5    6       2    50       89       98  79.000000    237
6    7       2    80       90       45  71.666667    215
7    8       2    90       78       25  64.333333    193
8    9       3    20       98       15  44.333333    133
9   10       3    50       98       45  64.333333    193
10  11       3    65       65       65  65.000000    195
11  12       3    45       85       32  54.000000    162
12  13       4    46       98       65  69.666667    209
13  14       4    48       87       12  49.000000    147
14  15       4    75       56       78  69.666667    209
15  16       4    58       98       65  73.666667    221
16  17       5    65       68       98  77.000000    231
17  18       5    80       78       90  82.666667    248
18  19       5    89       68       87  81.333333    244
19  20       5    78       83       58  73.000000    219

# inplcae() : 데이터 프레임 직접 변경
- inplace = False : 저장 안 함
- inplace = True : 저장함
- dataframe 내용 저장하려면 다른 변수에 넣어주거나 .inplce = True 옵션 주면 됨

In [37]:
import numpy as np

In [38]:
np.where(exam['science']>50)

(array([ 1,  2,  3,  4,  5, 10, 12, 14, 15, 16, 17, 18, 19]),)

In [39]:
exam.assign(test = np.where(exam['science']>50, 'good','bad'))

    id  nclass  math  english  science  test
0    1       1    50       98       50   bad
1    2       1    60       97       60  good
2    3       1    45       86       78  good
3    4       1    30       98       58  good
4    5       2    25       80       65  good
5    6       2    50       89       98  good
6    7       2    80       90       45   bad
7    8       2    90       78       25   bad
8    9       3    20       98       15   bad
9   10       3    50       98       45   bad
10  11       3    65       65       65  good
11  12       3    45       85       32   bad
12  13       4    46       98       65  good
13  14       4    48       87       12   bad
14  15       4    75       56       78  good
15  16       4    58       98       65  good
16  17       5    65       68       98  good
17  18       5    80       78       90  good
18  19       5    89       68       87  good
19  20       5    78       83       58  good

In [40]:
exam['tot'] = exam['english'] +exam['math'] + exam['science']

In [41]:
exam

    id  nclass  math  english  science  tot
0    1       1    50       98       50  198
1    2       1    60       97       60  217
2    3       1    45       86       78  209
3    4       1    30       98       58  186
4    5       2    25       80       65  170
5    6       2    50       89       98  237
6    7       2    80       90       45  215
7    8       2    90       78       25  193
8    9       3    20       98       15  133
9   10       3    50       98       45  193
10  11       3    65       65       65  195
11  12       3    45       85       32  162
12  13       4    46       98       65  209
13  14       4    48       87       12  147
14  15       4    75       56       78  209
15  16       4    58       98       65  221
16  17       5    65       68       98  231
17  18       5    80       78       90  248
18  19       5    89       68       87  244
19  20       5    78       83       58  219

In [42]:
#lambda 를 이용해서도 가능
exam.assign(new_tot = lambda x : x['math']+x['english']+x['science'])

    id  nclass  math  english  science  tot  new_tot
0    1       1    50       98       50  198      198
1    2       1    60       97       60  217      217
2    3       1    45       86       78  209      209
3    4       1    30       98       58  186      186
4    5       2    25       80       65  170      170
5    6       2    50       89       98  237      237
6    7       2    80       90       45  215      215
7    8       2    90       78       25  193      193
8    9       3    20       98       15  133      133
9   10       3    50       98       45  193      193
10  11       3    65       65       65  195      195
11  12       3    45       85       32  162      162
12  13       4    46       98       65  209      209
13  14       4    48       87       12  147      147
14  15       4    75       56       78  209      209
15  16       4    58       98       65  221      221
16  17       5    65       68       98  231      231
17  18       5    80       78       90  248      248
18  19       5    89       68       87  244      244
19  20       5    78       83       58  219      219

# 람다(lambda)
- 함수를 딱 한 줄만으로 만들게 해줌
- lambda 매개변수 : 표현식
ex. (lambda x,y : x+y)(10,20) => 30

In [43]:
(lambda x,y : x+y)(10,20)

30

# groupby, agg
- 엑셀에서 말하는 피벗 개념
- 원하는 컬럼만 요약통계 볼 수 있음 (집단별 요약통계 출력)
- groupby : 집단을 만드는 함수
- agg : 다양한 통계치 사용할 수 있는 함수
ex. agg(매개변수 = ('컬럼명','원하는 요약통계')

In [44]:
exam.groupby('nclass').agg(mean_english = ('english','mean')) #그룹별 english 평균

        mean_english
nclass
1              94.75
2              84.25
3              86.50
4              84.75
5              74.25

In [46]:
exam.groupby('nclass').agg(sum_english = ('english','sum')) #그룹별 english 합계

        sum_english
nclass
1               379
2               337
3               346
4               339
5               297

In [48]:
exam.groupby('nclass').agg(medi_english = ('english','median')) #그룹별 english 중앙값

        medi_english
nclass
1               97.5
2               84.5
3               91.5
4               92.5
5               73.0

In [49]:
exam.groupby('nclass').agg(max_english = ('english','max')) #그룹별 english 최댓값

        max_english
nclass
1                98
2                90
3                98
4                98
5                83

In [51]:
# 여러 그룹별 요약통계치 한 번에 보여주는 코드
exam.groupby('nclass').agg(mean_math = ('math','mean'),
                         sum_math = ('math','sum'),
                         max_math = ('math','max'),
                         n = ('nclass','count'), #개수 카운팅  
                         std_math = ('math','std')) # std : 표준편차

        mean_math  sum_math  max_math  n   std_math
nclass
1           46.25       185        60  4  12.500000
2           61.25       245        90  4  29.545163
3           45.00       180        65  4  18.708287
4           56.75       227        75  4  13.250786
5           78.00       312        89  4   9.899495

# merge
- 데이터 병합
- sql 데이터 추출이 필요할 때 데이터가 다른 테이블에 있는 경우가 많고 두개의 df을 추출해서 하나로 합쳐야 하는 경우가 존재
ex. 공공데이터와 다른 데이터를 같이 사용하고 싶어 두 데이터를 붙여야 하는 경우
- 데이터를 합치기 위해서는 공통된 기준이 있어야 함

In [52]:
a = pd.DataFrame({'name':['김철수','김영희','홍길동'],
                 '영어 점수':[10,20,30]})
b = pd.DataFrame({'name':['김철수','김영희','홍길길'],
                 '수학 점수':[10,20,40]})

In [53]:
display(a)
display(b)

  name  영어 점수
0  김철수     10
1  김영희     20
2  홍길동     30

  name  수학 점수
0  김철수     10
1  김영희     20
2  홍길길     40

- merge를 이용하려면 공통된 기준이 필요.

In [56]:
total = pd.merge(a,b, how='inner')

In [57]:
total

  name  영어 점수  수학 점수
0  김철수     10     10
1  김영희     20     20

- concat : 덩어리 + 덩어리로 붙는 형태
- 공통된 부분 없어도 데이터 프레임을 붙일 수 있음

In [58]:
pd.concat([a,b]) #axis 축 default는 0 값

  name  영어 점수  수학 점수
0  김철수   10.0    NaN
1  김영희   20.0    NaN
2  홍길동   30.0    NaN
0  김철수    NaN   10.0
1  김영희    NaN   20.0
2  홍길길    NaN   40.0

In [59]:
pd.concat([a,b],axis=1)

  name  영어 점수 name  수학 점수
0  김철수     10  김철수     10
1  김영희     20  김영희     20
2  홍길동     30  홍길길     40

- axis = 0 : 열(세로)방향 계산
- axis = 1 : 행(가로)방향 계산

- merge, concat은 어떤 상황에서 사용하느냐에 따라 활용
- 두 함수의 원리를 정확하게 이해하고 있어야 대량의 데이터를 합칠 때 문제가 발생하지 않음.